* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro',sans-serif;
  letter-spacing: .3em;
}

span {
  color: #3289ff;
}

.center {
  text-align: center;
  align-self: center;
}

/*------ Navigation ------*/

.navbar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  background-color: #005582ba;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav {
  display: flex;
  margin: 20px 50px;
  width: 80%;
  justify-content: space-between;
}

.logo-container {
  margin-left: 20px;
}

.logo {
  font-size: 30px;
  color: #fff;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.item:hover {
  background-color: #3289ff;
  border-radius: 10px;
}

.item:active {
  border-bottom: #333 4px solid;
}

/*      HOME       */

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

.home-text {
  width: 70%;
  position: relative;
  top: -10%;
  background-color: #005582;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.title {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}

.home-icon {
  padding: 0 0 0 5em;
  display: flex;
  gap: 1em;
}

.home-icon .fa-brands {
  width: 1em;
  font-size: 2em;
  text-align: center;
  color: #3289ff;
  transition: .4s ease-in-out;
}

.subprop {
  padding: 1em 0 0 4em;
  font-size: 18px;
  letter-spacing: .1 em;
 }

/*     ABOUT     */

.ab-container {
  height: 100vh;
  padding-top: 5%;
}

.sub-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.sub-title {
  font-size: 2em;
}

.text-expo {
  font-size: 1.2em;
}

.about-container {
  display: flex;
  padding: 5% 5%;
  justify-content: space-between;
}

.about-left {
  width: 40%;
}

.about-right {
  width: 40%;
}

.skill-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  background-color: #3289ff;
  border: none;
  outline: none;
  padding: .5em 1em;
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  transition: .6s ease-in-out;
}

.demi-title {
  font-size: 1.5em;
  font-weight: 900;
}

.about-right .demi-title {
  margin-bottom: 1em;
}

.btn2 {
  background-color: #3289ff;
  border: none;
  outline: none;
  padding: 1em 3em;
  font-size: 1em;
  color: black;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 30px;
  transition: .6s ease-in-out;
}

.btn2:hover, .skill:hover, .skill2:hover, .fa-brands:hover{
  transform: translateY(-10px);
}

/*     PROJECTS    */

.pr-container {
  background-color: #daf8e3;
  color: #333;
  height: 100vh;
  padding-top: 5%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  margin: 20px auto;
  padding: 20px 10%;
  gap: 10px;
  background-color: #333;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pr-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  gap: 10px;
}

.card-img {
  width: 50%;
  border-radius: 10px;
}

.skill2 {
  background-color: #3289ff;
  border: none;
  outline: none;
  padding: .5em 1em;
  font-size: 1em;
  color: #333;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  margin: 5px;
  transition: .6s ease-in-out;
}

.btn-container {
  display: flex;
  justify-content: space-evenly
}

/* Footer Style */



.bot {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #005582;
  color: #fff;
}


.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 30px 20px;
}

.footer-text {
  width: 40%;
}

.semi-title {
  font-size: 1.5em;
  margin: .3em 0;
  color: #333;
}

.footer-text p {
  margin-top: .5em;
}

.icons {
  width: 40%;
}

.icon-container {
  display: flex;
  margin-top: 1em;
  gap: 2em;
}

.icon-container .fa-brands {
  color: #333;
  font-size: 3em;
}

